*{
	box-sizing: border-box;
}


h1{
	text-align: center;
	font-family: sans-serif;
	color: red;
	font-style: italic;
	font-size: 45px;
	text-transform: capitalize;
	margin-top: 45px;
}


body{
	background-color: white;
}

.row{
	width: 100%;
}

p{
    border:2px black;
    padding: 10px;
    margin: 0;
}



section {
	border:	1px solid black;
	background-color: grey;
	width: 100%;
	height: 200px;
	font-family: Helvetica;
	color: black;
	position: relative;
	overflow: auto;
}


#choco {
	border: 1px solid black;
	text-align: center;
	width: 30%;
	margin-left: 70%;
	font-family: Georgia,sans-serif;
	font-weight: bold;
	font-size: 125%;
	margin-bottom: 0;
	margin-top: 0;
	padding: 5px;
	background-color: rgb(158, 73, 4);
}

#van {
	border: 1px solid black;
	text-align: center;
	width: 30%;
	margin-left: 70%;
	font-family: Georgia,sans-serif;
	font-weight: bold;
	font-size: 125%;
	margin-bottom: 0;
	margin-top: 0;
	padding: 5px;
	background-color: rgb(245, 239, 239);
}

#straw {
	border: 1px solid black;
	text-align: center;
	width: 30%;
	margin-left: 70%;
	font-family: Georgia,sans-serif;
	font-weight: bold;
	font-size: 125%;
	margin-bottom: 0;
	margin-top: 0;
	background-color: rgb(230, 63, 174);
	color: white;
	padding: 5px;
}

@media(min-width:992px){
    .col-lg-1,.col-lg-2,.col-lg-3,.col-lg-4,.col-lg-5,.col-lg-6,.col-lg-7,.col-lg-8,.col-lg-9,.col-lg-10,.col-lg-11,.col-lg-12{
        float: left;
        border: 1px solid blueviolet;
       background-color: crimson; 
      
    } 
    .col-lg-1{
        width: 8.33%;
    }
    .col-lg-2{
        width: 16.66%;
    }
    .col-lg-3{
        width: 25%;
    }
    .col-lg-4{
        width: 33%;
    }
    .col-lg-5{
        width: 41.66%;
    }
    .col-lg-6{
        width: 50%;
    }
    .col-lg-7{
        width: 58.33%;
    }
    .col-lg-8{
        width:66.66%;
    }
    .col-lg-9{
        width: 74.99%;
    }
    .col-lg-10{
        width: 83.33%;
    }
    .col-lg-11{
        width: 91.66%;
    }
    .col-lg-12{
        width: 100%;
    }
}
@media(min-width:768px) and (max-width:991px){
    .md-1,.md-2,.md-3,.md-4,.md-5,.md-6,.md-7,.md-8,.md-9,.md-10,.md-11,.md-12{
        float: left;
        border: 1px solid blueviolet;
       background-color: crimson; 
      
    } 
    .md-1{
        width: 8.33%;
    }
    .md-2{
        width: 16.66%;
    }
    .md-3{
        width: 25%;
    }
    .md-4{
        width: 33%;
    }
    .md-5{
        width: 41.66%;
    }
    .md-6{
        width: 50%;
    }
    .md-7{
        width: 58.33%;
    }
    .md-8{
        width:66.66%;
    }
    .md-9{
        width: 74.99%;
    }
    .md-10{
        width: 83.33%;
    }
    .md-11{
        width: 91.66%;
    }
    .md-12{
        width: 100%;
    }
}
@media(max-width:767px) {
    .sm-1,.sm-2,.sm-3,.sm-4,.sm-5,.sm-6,.sm-7,.sm-8,.sm-9,.sm-10,.sm-11,.sm-12{
        float: left;
        border: 1px solid blueviolet;
       background-color: crimson; 
      
    } 
    .sm-1{
        width: 8.33%;
    }
    .sm-2{
        width: 16.66%;
    }
    .sm-3{
        width: 25%;
    }
    .sm-4{
        width: 33%;
    }
    .sm-5{
        width: 41.66%;
    }
    .sm-6{
        width: 50%;
    }
    .sm-7{
        width: 58.33%;
    }
    .sm-8{
        width:66.66%;
    }
    .sm-9{
        width: 74.99%;
    }
    .sm-10{
        width: 83.33%;
    }
    .sm-11{
        width: 91.66%;
    }
    .sm-12{
        width: 100%;
    }
}